.third {
    height: 100vh;

    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between; /* Ensures space between text and image */
    align-items: center; /* Align text and image vertically */
    padding: 0 20px;
  }
  
  .third-content {
    margin-left: 90px;
    max-width: 600px;
  }
  
  .third-content .benefits{
    text-align: center;
  }
  
  .third .points1 {
    font-weight: 300;
    margin-top: 15px;
    color: #345aff;
    list-style-type: disc;
    padding-left: 20px; /* Adds space before the bullet points */
    line-height: 1.6; /* Space between lines for better readability */
  }
  
  .third .image3-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    margin-right: 80px; /* Space between image and right side of the viewport */
  }
  
  .third .third-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
    object-fit: cover; /* Ensures the image fits within the container */
  }