/* Main container styles */
.Billing {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

.Billing h1 {
    color: #007BFF;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

/* Form and summary section styles */
.billing-form, .bill-summary {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Input group styles */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Input field styles */
.Billing input[type="text"], .Billing input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
}

.Billing input[type="text"]:focus, .Billing input[type="number"]:focus {
    border-color: #007BFF;
}


/* Button styles */
.Billing button {
    width: 50%;
    padding: 10px;
    margin-left: 190px;
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.Billing button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

/* Table styles */
.bill-summary table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #007BFF;
    color: white;
}

/* Total amount styles */
#total-amount {
    font-weight: bold;
    color: #e74c3c;
    font-size: 1.5rem;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}
