.Billing h1 {
    margin-left: 90px;
    font-size: 2.5rem;
    color: #0056b3;
}

.Billing h2 {
    text-align: left; 
    margin-left: 90px;
    font-size: 1.8rem;
    color: #333;
}

/* Main container styles */
.Billing main {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background: none;
}

/* Form and summary sections */
.billing-form, .bill-summary {
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: transparent;
    border: none;
    margin-left: 40px;
}

.Billing label {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 90px;
}

.Billing input[type="text"], 
input[type="number"] {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 90px;
    align-content: center;
    box-sizing: border-box;
}

input[type="text"]:focus, 
input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* Button styles */
.Billing button {
    width: 50%;
    padding: 10px;
    margin-left: 190px;
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.Billing button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Table styles */
table {
    width: calc(100% - 90px);
    margin-left: 90px;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
}

.Billing h3{
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

.bill-summary-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 50px;
}

.table-header-row {
    background-color: #007BFF;
    color: white;
  }


.table-header {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
  }


tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-size: 0.9rem;
}