.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: padding-left 0.3s ease;
}

.navbar {
  position: sticky; /* Explicitly make the navbar sticky */
  top: 0; /* Aligns the sticky position to the top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding for better spacing */
  background-color: #ffffff; /* Inherit background for better visibility */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px; /* Adds a soft shadow to the navbar */
  z-index: 5; /* Ensures the navbar is above other content */
  height: 100px;
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 80px;
  white-space: nowrap;
}

.container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
  height: 88px;
}

.home-link {
  margin-right: 6px;
  margin-bottom: 3px;
  margin-left: 276px;
  margin-top: 7px;
}

.notification-link{
  margin-right: 20px;
  margin-bottom: 3px;
  margin-top: 7px;

}
.header,.search-container {
  display: flex;
  align-items: center;
  margin-right: 6px;
  border-radius: 50%;
}

.search-container input[type="text"] {
  padding: 6px;
  font-size: 16px;
  border-color: #345aff;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-container button {
  padding: 7px 10px;
  margin-left: 2px;
  background-color: #ffffff;
  color: #fff;
  
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  height: 38.5px;
}

.search-container button:hover {
  background-color: #ffffff;
}

#signup-btn {
  /* margin-right: 550px; */
  border-color: #345aff;
  outline: none;
  background: #345aff;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding: 6px 18px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease;
}

