.hero-section {
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content {
    margin-left: 90px;
    max-width: 600px;
}

.hero-section .content h2 {
    font-size: 3rem;
    line-height: 1.2;
    color: #345aff;
}

.hero-section .content h3 {
    margin-top: 15px;
    font-weight: 300;
    color: hsl(213.23deg 100% 62.86%);
}

.hero-section .hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    margin-right: 80px; /* Space between image and right side of the viewport */
  }
  
  .hero-section .hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
    object-fit: cover; /* Ensures the image fits within the container */
  }