.first {
    height: 100vh;

    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; /* Ensures space between text and image */
    align-items: center; /* Align text and image vertically */
    padding: 0 20px;
}
  
.first-content {
    margin-left: 0px;
    margin-right: 20px;
    max-width: 600px;
}

.first-content .capabilities{
    text-align: center;
}

.first .points {
    font-weight: 300;
    margin-top: 15px;
    color: #345aff;
    list-style-type: disc;
    padding-left: 20px; /* Adds space before the bullet points */
    line-height: 1.6; /* Space between lines for better readability */
}

.first .image1-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; /* Adjust the width of the image box */
    margin-left: 90px;
    margin-right: 0px; /* Space between image and right side of the viewport */
}
  
.first .first-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
    object-fit: cover; /* Ensures the image fits within the container */
}