/* Sidebar styles */
.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    width: 85px; 
    background-image: url('../Assets/image0.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    overflow-x: hidden;
    transition: width 0.4s ease;  
    z-index: 10;
}


.sidebar:hover {
    width: 260px; 
}

.sidebar .sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar .sidebar-header img {
    width: 50px;
    border-radius: 50%;
}

.sidebar .sidebar-header h2 {
    color: #345aff;
    margin-left: 23px;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
}


.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #345aff;
    padding: 15px 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;
}

.sidebar-links li a:hover {
    color: #000;
    background: #fff;
    border-radius: 4px;
}

.content {
    margin-left: 85px;
    transition: margin-left 0.4s ease;
}

.sidebar:hover + .content {
    margin-left: 260px; 
}


body {
    overflow-x: hidden;  
}


header {
    padding-left: 85px;
}
